{% extends '::base.html.twig' %}
{% block menu %}
	
    <nav role="navigation">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Logo</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">Facturas</a></li>
                <li><a href="">Clientes</a></li>
                <li><a href="">Pedidos</a></li>
                <li><a href="">Catalogo</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
                    <i class="material-icons lock_open left">person_pin</i>{{ app.user.username }}
                    <i class="material-icons right"></i>
                    </a>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{{ path('cuentastransacion') }}">Cuentas transaccion</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown2">
                    <i class="material-icons lock_open left">person_pin</i>{{ app.user.username }}
                    <i class="material-icons right"></i>
                    </a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock %}